.body {
    margin: 0;
    background: #eee;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin: 0;
}

.logo,
.main-text {
    color: #F9FAF8;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
}

.hero {
    display: flex;
    padding: 100px 150px;
    gap: 100px;
    justify-content: center;
}

.sec-text {
    color: #E5E7EB;
}

.texts {
    display: flex;
    flex-direction: column;
    flex-basis: 20em;
}

.sign-up {
    background-color: #3882F6;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    color: #F9FAF8;
    justify-content: center;
    margin-top: 10px;
}

.pic img {
    width: 350px;
    height: 220px;
}

.top-links {
    display: flex;
    align-items: flex-end;
}

ul {
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.info {
    margin: 16px;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galaxy-con img {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.desc {
    display: flex;
    text-align: center;
    justify-content: center;
}

.quote {
    margin-top: 32px;
    background-color: #E5E7EB;
    padding: 150px 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}
